body {
  text-align: center;
  background-image: url("imagenes/fondoJuegos.png");
  margin: 0 0 0 0;
}

header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: grey;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px 2px white;
  margin-top: 5px;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
}
.no-wrap {
  flex-wrap: nowrap !important;
}

h2.palabra {
  margin: 0 0 0 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 20px;
  visibility: visible;
}

#botones {
  display: grid;
  margin: 30px 30px 30px 30px;
  visibility: hidden;
  grid-template-columns: repeat(13, 50px);
  justify-content: center;
}

.letras:hover {
  border: 2px solid black;
  opacity: 0.8;
  box-shadow: 2px 2px 2px black;
}

.letras {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background-color: white;
  font-size: 20px;
}

#image1,
#image2,
#image3,
#image4 {
  border: 2px solid gold;
  width: 230px;
  height: 230px;
  box-shadow: 0px 0px 10px gold;
}

.grid {
  display: grid;
  margin: 4% 15% 2% 12%;
  grid-template-columns: 257.5px 257.5px 257.5px 257.5px;
  visibility: hidden;
}

.grid-boton {
  display: grid;
  justify-items: start;
}

#botonComienzo {
  background-color: gold;
  width: 250px;
  height: 40px;
  justify-self: center;
  margin-top: 15px;
  visibility: visible;
  font-size: 20px;
  font-weight: bold;
}

#botonFinal {
  visibility: hidden;
  margin-left: 50px;
  width: 260px;
  height: 40px;
  background-color: gold;
  font-size: 20px;
  font-weight: bold;
}

#botonFinal:hover,
#botonComienzo:hover {
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}

.sonidos {
  display: grid;
  align-content: left;
  grid-template-columns: 150px 150px;
  margin: 3px 3px 0px 0px;
  visibility: hidden;
}

#play,
#pause {
  margin-left: 10px;
  background-color: white;
  font-weight: bold;
  /* background-color: greenyellow; */
}

#play {
  margin-left: 10px;
  font-weight: bold;
  /* background-color: greenyellow; */
}

#play:hover {
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  /* background-color: greenyellow; */
}

#pause:hover {
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  background-color: red;
}

span.level,
h1 {
  color: red;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
  text-align: left;
  visibility: hidden;
  margin: 0px 0px 0px 10px;
  text-decoration: underline white;
}

.zoom {
  /* Aumenta el ancho y altura durante 2 segundos */
  transition: width 2s, height 2s, transform 2s;
  -moz-transition: width 2s, height 2s, -moz-transform 2s; /* Firefox */
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Chrome - Safari */
  -o-transition: width 2s, height 2s, -o-transform 2s; /* Opera */
}

.zoom:hover {
  /* Tranforma el elemento al pasar el mouse por encima al doble de su tamaño */
  transform: scale(2);
  -moz-transform: scale(2); 
  -webkit-transform: scale(2); 
  -o-transform: scale(2); 
}
